body {
    padding: 20px;
}

.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.column {
    background: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px;
    min-height: 30px;
}

.column .column {
    background: #333333;
    border: 1px solid black;
}