.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

.column-offset-1 {
    margin-left: 8.46666666667%;
}

.column-offset-2 {
    margin-left: 16.93333333%;
}

.column-offset-3 {
    margin-left: 25.4%;
}

.column-offset-4 {
    margin-left: 33.86666667%;
}

.column-offset-5 {
    margin-left: 42.33333333%;
}

.column-offset-6 {
    margin-left: 50.8%;
}

.column-offset-7 {
    margin-left: 59.26666667%;
}

.column-offset-8 {
    margin-left: 67.73333333%;
}

.column-offset-9 {
    margin-left: 76.2%;
}

.column-offset-10 {
    margin-left: 84.66666667%;
}

.column-offset-11 {
    margin-left: 93.13333333%;
}

.column + .column-offset-1 {
    margin-left: 10.0666666667%;
}

.column + .column-offset-2 {
    margin-left: 18.53333333%;
}

.column + .column-offset-3 {
    margin-left: 27%;
}

.column + .column-offset-4 {
    margin-left: 35.46666667%;
}

.column + .column-offset-5 {
    margin-left: 43.93333333%;
}

.column + .column-offset-6 {
    margin-left: 52.4%;
}

.column + .column-offset-7 {
    margin-left: 60.86666667%;
}

.column + .column-offset-8 {
    margin-left: 69.33333333%;
}

.column + .column-offset-9 {
    margin-left: 77.8%;
}

.column + .column-offset-10 {
    margin-left: 86.26666667%;
}

.column + .column-offset-11 {
    margin-left: 94.73333333%;
}

@media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: auto;
        float: none;
    }

    .column + .column {
        margin-left: 0;
    }
}