.content {
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
}

p {
    line-height: 2.2;
}

p.intro {
    font-size: 1.425em;
    line-height: 2.02;
}

a:link,
a:visited {
    color: #766d5f;
    text-decoration: none;
}

/* Caption */
.caption {
    left: -1.6%;
    position: relative;
    width: 103.2%;
}

.caption img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.caption small {
    font-size: 0.95em;
    line-height: 1;
}

.column ul {
    padding-left: 1em;
    line-height: 2.2em;
}

.column ul li + li {
    padding-top: 0.8em;
}

/* Quote */
.quote {
    margin-bottom: 2.8em;
    margin-top: 2.8em;
    padding-left: 3em;
    padding-right: 3em;
}

.quote p {
    font-style: italic;
    margin-bottom: 1.1em;
}

.quote small {
    color: #766d5f;
    font-size: 0.95em;
}

/* Related */
.related {
    margin-bottom: 3em;
}

.related .related-line {
    border-top: 1px solid #e5e0d8;
    margin-bottom: 2.9em;
    margin-top: 1em;
    position: relative;
    left: -25.0%;
    width: 125.0%;
}

.related .related-title {
    text-align: center;
}

.related small {
    font-size: 0.87em;
}

.related h2 {
    font-size: 1.33em;
    font-style: italic;
    margin-bottom: 1.5em;
    margin-top: 0.1em;
}

.related p {
    font-size: 0.98em;
    line-height: 1.65;
    margin-bottom: 2.2em;
}

/* News */
.news .news-line {
    border-top: 1px solid #e5e0d8;
    margin-bottom: 2.9em;
    margin-top: 1em;
    position: relative;
    left: -25.0%;
    width: 125.0%;
}

.news span {
    font-size: 0.88em;
}

.news h2 {
    font-size: 1.6em;
    line-height: 1.33;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

.news small {
    font-size: 0.8em;
}

.news p {
    margin-top: 1.85em;
    line-height: 1.65;
}

/* Buttons */
.button-outer {
    display: table;
}

.button-outer .button-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.button-outer .button-inner .button-content {
    display: block;
}

.contact,
.find-more {
    margin-top: 1.33em;
}

.related .button-outer,
.find-more .button-outer {
    background: #e5e0d8;
    height: 60px;
    width: 100%;
}

.contact .button-outer {
    border: 1px solid #e5e0d8;
    height: 58px;
    width: 100%;
}

.related a,
.contact a,
.find-more a {
    color: #000000;
}