.content {
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
}

.button {
    display: inline-block;
    text-align: center;
}

.button:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

p {
    line-height: 2.2;
}

p.intro {
    font-size: 1.425em;
    line-height: 2.02;
}

.column a:link {
    color: #766d5f;
    text-decoration: none;
}

.caption {
    left: -1.6%;
    position: relative;
    width: 103.2%;
}

.caption img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.caption small {
    font-size: 0.95em;
    line-height: 1;
}

.column ul {
    padding-left: 1em;
    line-height: 2.2em;
}

.column ul li + li {
    padding-top: 0.8em;
}

.quote {
    margin-bottom: 2.8em;
    margin-top: 2.8em;
    padding-left: 3em;
    padding-right: 3em;
}

.quote p {
    font-style: italic;
    margin-bottom: 1.1em;
}

.quote small {
    color: #766d5f;
    font-size: 0.95em;
}

.related .related-line {
    border-top: 1px solid #e5e0d8;
    margin-bottom: 2.9em;
    margin-top: 1em;
    position: relative;
    left: -25.0%;
    width: 125.0%;
}

.related .related-title {
    text-align: center;
}

.related small {
    font-size: 0.87em;
}

.related h2 {
    font-size: 1.33em;
    font-style: italic;
    margin-bottom: 1.5em;
    margin-top: 0.1em;
}

.related p {
    font-size: 0.98em;
    line-height: 1.65;
    margin-bottom: 2.2em;
}

.related a {
    background: #e5e0d8;
    height: 60px;
    width: 100%;
}

.related a:link,
.related a:visited {
    color: #000000;
}